---
title: Template for a new page
topics:
  - Template
  - MDX
date: 2022-02-14
excerpt: How to use MDX to create a new page
cover:
  # banner: /assets/images/banner.jpg
  topic: React
  title: React
  subtitle: React Hooks
---

## Body

Body here

## images

You can upload image like this:

Upload from public directory:
![Image Name](/assets/images/banner.jpg "Image Title")

Upload from unsplash:
![Image Name](https://source.unsplash.com/random/400x400 "Image Title")

## Links

You can link to other pages like this:
[Link Text](/path/to/page)

External links:
[Link Text](https://www.google.com)